/* ===================================================================
 * fonts.scss
 *
 * ------------------------------------------------------------------- */

/*
 * libre baskerville
================================================================================ */
@font-face {
   font-family: "librebaskerville-regular";
   src: url("../fonts/librebaskerville/librebaskerville-regular-webfont.520ff79ac50e.woff2") format("woff2"), url("../fonts/librebaskerville/librebaskerville-regular-webfont.c1d1c75cc10d.woff") format("woff");
   font-style: normal;
   font-weight: normal;
}

@font-face {
   font-family: "librebaskerville-italic";
   src: url("../fonts/librebaskerville/librebaskerville-italic-webfont.4ba92be4076c.woff2") format("woff2"), url("../fonts/librebaskerville/librebaskerville-italic-webfont.70e8ec15e18a.woff") format("woff");
   font-style: normal;
   font-weight: normal;
}

@font-face {
   font-family: "librebaskerville-bold";
   src: url("../fonts/librebaskerville/librebaskerville-bold-webfont.1c87f16b386b.woff2") format("woff2"), url("../fonts/librebaskerville/librebaskerville-bold-webfont.c4711930c3a7.woff") format("woff");
   font-style: normal;
   font-weight: normal;
}

/*
 * metropolis
================================================================================ */
@font-face {
   font-family: "metropolis-black";
   src: url("../fonts/metropolis/metropolis-black-webfont.bbfbd56fe362.woff2") format("woff2"), url("../fonts/metropolis/metropolis-black-webfont.15e2705575fc.woff") format("woff");
   font-style: normal;
   font-weight: normal;
}

@font-face {
   font-family: "metropolis-black-italic";
   src: url("../fonts/metropolis/metropolis-blackitalic-webfont.546f29b230ec.woff2") format("woff2"), url("../fonts/metropolis/metropolis-blackitalic-webfont.91d6f64a71d8.woff") format("woff");
   font-style: normal;
   font-weight: normal;
}

@font-face {
   font-family: "metropolis-extrabold";
   src: url("../fonts/metropolis/metropolis-extrabold-webfont.114f26fb02cf.woff2") format("woff2"), url("../fonts/metropolis/metropolis-extrabold-webfont.d12b18ebdbec.woff") format("woff");
   font-style: normal;
   font-weight: normal;
}

@font-face {
   font-family: "metropolis-extrabold-italic";
   src: url("../fonts/metropolis/metropolis-extrabolditalic-webfont.8e54f6146f71.woff2") format("woff2"), url("../fonts/metropolis/metropolis-extrabolditalic-webfont.367fbd4cba16.woff") format("woff");
   font-style: normal;
   font-weight: normal;
}

@font-face {
   font-family: "metropolis-bold";
   src: url("../fonts/metropolis/metropolis-bold-webfont.ac3f6f0c7bbc.woff2") format("woff2"), url("../fonts/metropolis/metropolis-bold-webfont.719c42aafc24.woff") format("woff");
   font-style: normal;
   font-weight: normal;
}

@font-face {
   font-family: "metropolis-bold-italic";
   src: url("../fonts/metropolis/metropolis-bolditalic-webfont.69951235b058.woff2") format("woff2"), url("../fonts/metropolis/metropolis-bolditalic-webfont.dd4bc3379f77.woff") format("woff");
   font-style: normal;
   font-weight: normal;
}

@font-face {
   font-family: "metropolis-semibold";
   src: url("../fonts/metropolis/metropolis-semibold-webfont.954b06b72e08.woff2") format("woff2"), url("../fonts/metropolis/metropolis-semibold-webfont.dd03d2213072.woff") format("woff");
   font-style: normal;
   font-weight: normal;
}

@font-face {
   font-family: "metropolis-semibold-italic";
   src: url("../fonts/metropolis/metropolis-semibolditalic-webfont.a9920186f207.woff2") format("woff2"), url("../fonts/metropolis/metropolis-semibolditalic-webfont.21a7fa302bfa.woff") format("woff");
   font-style: normal;
   font-weight: normal;
}

@font-face {
   font-family: "metropolis-medium";
   src: url("../fonts/metropolis/metropolis-medium-webfont.eb3f91f51db9.woff2") format("woff2"), url("../fonts/metropolis/metropolis-medium-webfont.614addde04d2.woff") format("woff");
   font-style: normal;
   font-weight: normal;
}

@font-face {
   font-family: "metropolis-medium-italic";
   src: url("../fonts/metropolis/metropolis-mediumitalic-webfont.c0ff4c88f085.woff2") format("woff2"), url("../fonts/metropolis/metropolis-mediumitalic-webfont.6dcc904b6806.woff") format("woff");
   font-style: normal;
   font-weight: normal;
}

@font-face {
   font-family: "metropolis-regular";
   src: url("../fonts/metropolis/metropolis-regular-webfont.ea531a4039bd.woff2") format("woff2"), url("../fonts/metropolis/metropolis-regular-webfont.cae42ae53417.woff") format("woff");
   font-style: normal;
   font-weight: normal;
}

@font-face {
   font-family: "metropolis-italic";
   src: url("../fonts/metropolis/metropolis-regularitalic-webfont.a49bb074252f.woff2") format("woff2"), url("../fonts/metropolis/metropolis-regularitalic-webfont.d8cfe5b7249a.woff") format("woff");
   font-style: normal;
   font-weight: normal;
}

@font-face {
   font-family: "metropolis-light";
   src: url("../fonts/metropolis/metropolis-light-webfont.79a39f7aeaae.woff2") format("woff2"), url("../fonts/metropolis/metropolis-light-webfont.2ee4814e7a47.woff") format("woff");
   font-style: normal;
   font-weight: normal;
}

@font-face {
   font-family: "metropolis-light-italic";
   src: url("../fonts/metropolis/metropolis-lightitalic-webfont.0242e0a3f692.woff2") format("woff2"), url("../fonts/metropolis/metropolis-lightitalic-webfont.63702b7dc9cf.woff") format("woff");
   font-style: normal;
   font-weight: normal;
}

@font-face {
   font-family: "metropolis-extralight";
   src: url("../fonts/metropolis/metropolis-extralight-webfont.284219683e08.woff2") format("woff2"), url("../fonts/metropolis/metropolis-extralight-webfont.fea61f7bcfa9.woff") format("woff");
   font-style: normal;
   font-weight: normal;
}

@font-face {
   font-family: "metropolis-extralight-italic";
   src: url("../fonts/metropolis/metropolis-extralightitalic-webfont.01be7a4184e7.woff2") format("woff2"), url("../fonts/metropolis/metropolis-extralightitalic-webfont.f5a1241587d4.woff") format("woff");
   font-style: normal;
   font-weight: normal;
}

@font-face {
   font-family: "metropolis-thin";
   src: url("../fonts/metropolis/metropolis-thin-webfont.ebf4b33ced37.woff2") format("woff2"), url("../fonts/metropolis/metropolis-thin-webfont.1e805a8207f9.woff") format("woff");
   font-style: normal;
   font-weight: normal;
}

@font-face {
   font-family: "metropolis-thin-italic";
   src: url("../fonts/metropolis/metropolis-thinitalic-webfont.ace6e67fea54.woff2") format("woff2"), url("../fonts/metropolis/metropolis-thinitalic-webfont.f39156daabef.woff") format("woff");
   font-style: normal;
   font-weight: normal;
}

/*# sourceMappingURL=fonts.css.map */
