
{% extends 'blog/basic.html' %}

{% block title %}Home-- Abrar's Notes {% endblock %}
{% block homeactive %}current{% endblock %}


{% block body %}
{% load static %}
        {% if mypost %}
        <div class="pageheader-content row">

            <div class="col-full">

                <div class="featured">
                 
                    <div class="featured__column featured__column--big">
                 
        <div class="entry" style="background-image:url('{{mypost.0.thumbnail}}');">
                          
                            <div class="entry__content">
                                <span class="entry__category"><a href="blogpost/{{mypost.0.slug}}">{{mypost.0.category_tag}}</a></span>

                                <h1><a href="blogpost/{{mypost.0.slug}}" title="">{{mypost.0.post_name}}</a></h1>

                                <div class="entry__info">
                                    <a href="blogpost/{{mypost.0.slug}}" class="entry__profile-pic">
                                        <img class="avatar" src="{% static   'blog/images/avatars/user-03.jpg' %}" alt="">
                                    </a>

                                    <ul class="entry__meta">
                                        <li><a href="blogpost/{{mypost.0.slug}}">Abrar Shahid</a></li>
                                        <li>{{mypost.0.pub_date}}</li><br>
                                        <li><a href="blogpost/{{mypost.0.slug}}">Start Reading &rarr;</a></li>
                                    </ul>
                                </div>
                             
                            </div> <!-- end entry__content -->
                            
                        </div> <!-- end entry -->
                    </div> <!-- end featured__big -->
                   

                    <div class="featured__column featured__column--small">

                        <div class="entry" style="background-image:url('{{mypost.1.thumbnail}}');">
                            
                            <div class="entry__content">
                                <span class="entry__category"><a href="blogpost/{{mypost.1.slug}}">{{mypost.1.category_tag}}</a></span>

                                <h1><a href="blogpost/{{mypost.1.slug}}" title="">{{mypost.1.post_name}}</a></h1>

                                <div class="entry__info">
                                  

                                    <ul class="entry__meta">
                                        <li><a href="blogpost/{{mypost.1.slug}}">Abrar Shahid</a></li>
                                        <li>{{mypost.1.pub_date}}</li><br>
                                        <li><a href="blogpost/{{mypost.0.slug}}">Start Reading &rarr;</a></li>
                                    </ul>
                                </div>
                            </div> <!-- end entry__content -->
                          
                        </div> <!-- end entry -->

                        <div class="entry" style="background-image:url('{{mypost.2.thumbnail}}');">

                            <div class="entry__content">
                                <span class="entry__category"><a href="blogpost/{{mypost.2.slug}}">{{mypost.2.category_tag}}</a></span>

                                <h1><a href="blogpost/{{mypost.2.slug}}" title="">{{mypost.2.post_name}}</a></h1>

                                <div class="entry__info">
                                   

                                    <ul class="entry__meta">
                                        <li><a href="blogpost/{{mypost.2.slug}}">Abrar Shahid</a></li>
                                        <li>{{mypost.2.pub_date}}</li><br>
                                        <li><a href="blogpost/{{mypost.0.slug}}">Start Reading &rarr;</a></li>
                                    </ul>
                                </div>
                            </div> <!-- end entry__content -->

                        </div> <!-- end entry -->

                    </div> <!-- end featured__small -->
                </div> <!-- end featured -->

            </div> <!-- end col-full -->
        </div> <!-- end pageheader-content row -->
        {% endif %}
    </section> <!-- end s-pageheader -->


    <!-- s-content
    ================================================== -->
    <section class="s-content" style="background: #000000;  
background: -webkit-linear-gradient(to right, #434343, #000000);  
background: linear-gradient(to right, #434343, #000000); 
">
        
        <div class="row masonry-wrap">
            <div class="masonry">

                <div class="grid-sizer"></div>
               
               
                {% if mypost %}
                                   <article class="masonry__brick entry format-standard" data-aos="fade-up">
                        
                    <div class="entry__thumb">
                        <a href="blogpost/{{mypost.3.slug}}" class="entry__thumb-link">
                            <img style="max-width: 100%;" src="{{mypost.3.thumbnail}}"
                                    alt="">
                        </a>
                    </div>
            

                    <div class="entry__text">
                        <div class="entry__header">
                            
                            <div class="entry__date">
                                <a href="blogpost/{{mypost.3.slug}}">{{mypost.3.pub_date}}</a>
                            </div>
                            <h1 class="entry__title"><a href="blogpost/{{mypost.3.slug}}">{{mypost.3.post_name}}</a></h1>
                            
                        </div>
                        <div class="entry__excerpt">
                            <p>
                                {{mypost.3.subheading}}
                            </p>
                        </div>
                        <div class="entry__meta">
                            <span class="entry__meta-links">
                                <a href="blogpost/{{mypost.3.slug}}">{{mypost.3.category_tag}}</a>
                            </span>
                        </div>
                    </div>
    
                </article> <!-- end article -->
                {% endif %}
                
                <article class="masonry__brick entry format-quote" data-aos="fade-up">
                        
                    <div class="entry__thumb">
                        <blockquote>
                                <p>Life is not an endless journey, do that what you are made for!</p>
    
                                <cite>Abrar Shahid</cite>
                        </blockquote>
                    </div>   
    
                </article> <!-- end article -->
                


                
                  {% for i in mypost %}
                  {% if forloop.counter >= 5 %}
                 <article class="masonry__brick entry format-standard" data-aos="fade-up">
                        
                    <div class="entry__thumb video-image">
                       <a href="blogpost/{{i.slug}}" class="entry__thumb-link">
                            <img style="max-width: 100%;" src='{{i.thumbnail}}' 
                                    alt="">
                        </a>
                    </div>
    
                    <div class="entry__text">
                        <div class="entry__header">
                            
                            <div class="entry__date">
                                <a href="blogpost/{{i.slug}}">{{i.pub_date}}</a>
                            </div>
                            <h1 class="entry__title"><a href="blogpost/{{i.slug}}">{{i.post_name}}</a></h1>
                            
                        </div>
                        <div class="entry__excerpt">
                            <p>
                                {{i.subheading}}
                            </p>
                        </div>
                        <div class="entry__meta">
                            <span class="entry__meta-links">
                                <a href="blogpost/{{i.slug}}">{{i.category_tag}}</a> 
                                
                            </span>
                        </div>
                    </div>
    
                </article> <!-- end article -->
                {% endif %}
                {% endfor %}
          
                

            </div> <!-- end masonry -->
        </div> <!-- end masonry-wrap -->

        

    </section> <!-- s-content -->


  <!-- s-extra
    ================================================== -->
    <section class="s-extra">

        <div class="row top">

            <div class="col-eight md-six tab-full popular">
                <h3>Popular Posts</h3>
                {% for i in popular %}
                <div class="block-1-2 block-m-full popular__posts">
                    <article class="col-block popular__post">
                        <a href="blogpost/{{i.slug}}" class="popular__thumb">
                            <img style="max-width: 100%;height: auto"src="{{i.thumbnail}}" alt="">
                        </a>
                        <h5><a href="blogpost/{{i.slug}}">{{i.post_name}}</a></h5>
                        <section class="popular__meta">
                                <span class="popular__author"><span>By</span> <a href="blogpost/{{i.slug}}"> Abrar Shahid</a></span>
                            <span class="popular__date"><span>on</span> <time >{{i.pub_date}}</time></span>
                        </section>
                    </article>
                   
                </div> <!-- end popular_posts -->
                {% endfor %}
            </div> <!-- end popular -->
            
            <div class="col-four md-six tab-full about">
                <h3>About Abrar's Notes</h3>

                <p>
                I am Abrar Shahid.It's my personal blog and I am a tech savvy,Full Stack Web Developer, Machine Learning/AI enthusiast.i used to build robots once but know I am more interested in programmaxg.. That's all! I hope you enjoy my blog.
                </p>

                <ul class="about__social">
                    <li>
                        <a href="https://www.facebook.com/abrar.shahid.58760/" target="_blank"><i class="fa fa-facebook" aria-hidden="true" ></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/AbrarSh10911607" target="_blank"><i class="fa fa-twitter" aria-hidden="true" ></i></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/abrar_shahid_rahik/" target="_blank"><i class="fa fa-instagram" aria-hidden="true" ></i></a>
                    </li>
                     <li>
                        <a href="https://github.com/abrarshahid" target="_blank"><i class="fa fa-github" aria-hidden="true" ></i></a>
                    </li>
                  
                </ul> <!-- end header__social -->
            </div> <!-- end about -->

        </div> <!-- end row -->

        <div class="row bottom tags-wrap">
            <div class="col-full tags">
                <h3>Tags</h3>

                <div class="tagcloud">
                    {% for j in tags %}
                    <a href="#">{{j}}</a>
                    {% endfor %}
              
                </div> <!-- end tagcloud -->
            </div> <!-- end tags -->
        </div> <!-- end tags-wrap -->

    </section> <!-- end s-extra -->


    <!-- s-footer
    ================================================== -->
    <footer class="s-footer">

        <div class="s-footer__main">
            <div class="row">
                
                
                


                <div class="col-five md-full end s-footer__subscribe">
                        
                    <h4>Contact Me : abrarshahidrahik@gmail.com</h4>

            

                    

                </div> <!-- end s-footer__subscribe -->

            </div>
        </div> <!-- end s-footer__main -->

        <div class="s-footer__bottom">
            <div class="row">
                <div class="col-full">
                    <div class="s-footer__copyright">
                        <span>© Copyright Abrar Shahid 2021-2030</span> 
                          <span>Built with ❤️ and Django by Abrar Shahid.</span> 
                          <span>Thanks to: Philosophy</span> 
                                           </div>

                    <div class="go-top">
                        <a class="smoothscroll" title="Back to Top" href="#top"></a>
                    </div>
                </div>
            </div>
        </div> <!-- end s-footer__bottom -->

    </footer> <!-- end s-footer -->


    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader">
            <div class="line-scale">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>


   {% endblock %}
   